.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 0.5px solid #ccc;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.navItem {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  padding: 0.4rem 0.82rem;
  border-radius: 5px;
}

.navItem2 {
  cursor: pointer;
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 0.4rem 0.82rem;
  border-radius: 5px;
}

.navItem:hover {
  background-color: #c9c9c9;
}

.navItem2:hover {
  background-color: #1d1d1d;
}

.mainContent {
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
}

.title:hover {
  transform: scale(1.1);
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}

.ctaButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 0 15px 15px;
}

.ctaButton:hover {
  background-color: #c9c9c9;
}

.signupButton {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 0 15px 15px;
}

.signupButton:hover {
  background-color: #1d1d1d;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .ctaButton {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }

  .signupButton {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 420px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navLinks.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}